# extends "layout.html"
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      Mail Archive
      ${ super() }
      # endblock title
    </title>
  </head>
  <body>
    # block content
    <div id="content">
      # if paginator.has_more_pages:
      <h2>Mail Archive (${paginator.displayed_items()})</h2>
      # else:
      <h2>Mail Archive</h2>
      # endif
      <form id="prefs" method="get" action="">
        <p class="option">
          <label for="max">Max items per page</label>
          <input type="text" name="max" id="max" size="10" value="${max_per_page}" />
        </p>
        <div>
          <label for="filter">Filter:</label>
          <input type="input" id="filter" name="filter" value="${filter}"/>
        </div>
        <div class="buttons">
          <input type="submit" name="update" value="Update" />
        </div>
      </form>

      <table class="listing">
        <thead>
          <tr class="trac-columns"><th>Subject:</th><th>From:</th><th>Date:</th><th>Comment:</th></tr>
        </thead>
        <tbody>
          # for mail in mails:
          <tr class="${loop.cycle('odd', 'even')}">
            <td><a href="${mail.href}">${mail['subject']}</a></td>
            <td>${mail['from']}</td> 
            <td><tt>${mail['date']}</tt></td>
            <td>${mail['comment_html']}</td>
          </tr>
          # endfor
        </tbody>
      </table>
      # if paginator.show_index:
      # include 'page_index.html'
      # endif
      <div class="buttons">
        <form id="fetch_mail" method="post" name="fetch_mail" value="fetch_mail">
            ${jmacros.form_token_input()}
            <input type="submit" class="trac-disable-on-submit" name="fetch_mail" value="Fetch Mail" />
        </form>
      </div>
      <div id="help">${help}</div>
    </div>
  # endblock content
  </body>
</html>
