# extends "layout.html"
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      ${mail['subject']}
      ${ super() }
      # endblock title
    </title>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".foldable").enableFolding(false, true);
      });
    </script>
  </head>
  <body>
    # block content
    <p>From: ${mail['from']}</p>
    <p>To: ${mail['to']}</p>
    <p>Date: <tt>${mail['date']}</tt></p>
    <div class="collapsed">
        <h3 class="foldable">Headers</h3>
        <div>
            <pre class="wiki">${mail['allheaders']}</pre>
        </div>
    </div>
    <div>
        <h3 class="foldable">Thread</h3>
        <table class="listing">
            <thead>
                <tr class="trac-columns"><th>Subject:</th><th>From:</th><th>Date:</th></tr>
            </thead>
            <tbody>
              # for relmail in related_mails:
              <tr class="${loop.cycle('odd', 'even')}">
                <td>
                    # if not relmail['current']:
                    <a href="${relmail['ref']}">${relmail['subject']}</a>
                    # else:
                    <i>${relmail['subject']}</i>
                    # endif
                </td>
                <td>${relmail['from']}</td> 
                <td><tt>${relmail['date']}</tt></td>
              </tr>
              # endfor
            </tbody>
        </table>
    </div>

    # with alist = attachments, compact = True, foldable = True
    #   include 'list_of_attachments.html'
    # endwith

    <h2>${mail['subject']}</h2>
    <pre class="wiki">${mail['body']}</pre>
  # endblock content
  </body>
</html>
